div{
    width:300px;
    height:300px;
    background-color: red;
    transition:all 0.5s linear 0.5s ;
}

div:hover{
    width: 600px;
    height: 600px;
    background-color:yellow;
    opacity: 0.5;
}