* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.gang{
    background: linear-gradient(rgba(1, 8, 28, 0.5)),url(img/euro2\ \(1\).jpeg) fixed;
    background-size:cover ;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 8px 20px rgb(207, 196, 208);
    height: 683px;
    box-sizing: border-box;
    margin-top:25px;
    height: 650px;
}

header {
    background-color: #0f2440;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
}



.first img {
    padding-right: 50px;
    z-index: -1;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    box-sizing: border-box;
}

@media (max-width:1200px){
    header{
        padding: 0px;
    }
    .first{
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }
    .first img{
        position: relative;
        right: 400px;
    }
    .first ul{
        padding: 0px;
    }
}

@media (max-width:990px){
    .first{
        width: 718px;
        margin: 0px auto;
        height: 120px;
    }
    .first ul{
        margin: 0px;
    }

    .first img{
        padding: 0px;
    }

    .first ul a{
        padding:0px 5px 15px ;
    }
}

.first a {
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 5px;
    transition: background 0s ease 0s;
}

ul {
    list-style-type: none;
    float: right;
    padding: 20px 0px;
    margin-left: 20px;
}

li {
    display: inline-block;
}

.first a:hover {
    background-color: #20bdd8;
}

.first a:focus {
    background-color: #20bdd8;
    color: #000;
    /* transition: background 0.1s ease-in; */
}

.first a:active {
    background-color: rgb(190, 187, 187);
    color: #000;
}


.second{
    display: flex;
    margin: 0px auto;
    justify-content: center;
}
.ses {
    position: relative;
}

.ses span {
    position: absolute;
    left: 0;
    width: 688px;
    font-size: 18px;
    color: rgb(38, 31, 31);
    padding-left: 10px;
    padding-top: 50px;
    font-weight: 800;
}

/* @media (max-width:1200px){
    .sef{
        height:518px ;
        width: 300px;
    }

    .sef p {
        font-size: 12px;
    }

    .seco .sef h3{
        margin-top: 0px;
     }

    .seco {
         height:518px ;
    }

    .seco .ses{
        height:518px ;
    }

    .ses img{
        width: 615px;
        height: 377px;
        padding-right:10px ;
    }

    .second{
        width: 968px;
        height: 548px;
    }

   .second .seco {
        margin-top: 80px;
    }
} */

.seco {
    display: flex;
    max-width: 1138px;
    background-color:#0f2440 ;
    margin-top: 130px;
    justify-content: center;
    box-shadow: 0px 0px 15px 5px rgb(40, 34, 34);
}

.sef {
    padding-left: 20px;
    max-width: 389px;
    background-color: #0f2440;
    color: white;
}

.sef h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

.sef p {
    max-width: 349px;
    height: 378px;
    font-size: 14px;
    line-height: 24px;
}


.main h2{
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    color: #0f2440;
    line-height: 47px;
}

.main div{
    text-align: center;
    flex-basis: 30%;
}

.main{
    margin-top: 39px;
    height: 785px;
    box-sizing: border-box;
}

.main a{
width: 360px;
height: 300px;
text-decoration: none;
display: inline-block;
text-align: center;
transition: all 0.1s linear;
}

.main h3{
    font-size: 16px;
    text-transform: uppercase;
    color: #0f2440;
    margin:24px 0px 34px;
    padding: 0px 0px 14px;
}

/* .main h3 ::after{
    width: 20px;
    height: 2px;
    color: #20bdd8;
} */

.main p{
    width: 359px;
    height: 84px;
    font-size: 14px;
    color:#5a5c5e ;
    line-height: 24px;
}

.mafa{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}


.main a:hover{
    box-shadow: 0px 1px 8px rgb(133, 131, 131);
}

.secmain{
    height: 600px;
    background-color: #efeded;
    overflow: hidden;
}

.secmain div{
   position: relative;
   top: 40px;
}

.secmain h2{
    font-size: 34px;
    text-transform: uppercase;
   color:#0f2440 ; 
   text-align: center;
}

.secmain p:nth-of-type(1){
    color: #858284;
    opacity: 0.7;
    font-size: 20px;
    width: 766px;
    height: 130px;
    letter-spacing: 1px;
    line-height: 27px;
    text-align: center;
    position: relative;
    left: 510px;
    bottom: 80px;
}

.secmain p:nth-of-type(2){
    color: #20bdd8;
    font-size: 20px;
    font-weight: 800;
    text-indent: 400px;
    line-height: 30px;
    position: relative;
    bottom: 50px;
    left: 720px;
    
}

.secmain img{
    width: 201px;
    height: 200px;
    position: relative;
    left: 250px;
    padding: 50px 0px 30px;
}

.secmain svg{
    height: 80px;
    position: relative;
    left: 275px;
    bottom: 85px;
}

.imgs{
    display: flex;
    overflow-x: scroll;
    max-width: 1200px;
    margin: 0px auto;
    scrollbar-width: none;
}

.client{
    height: 226px;
}

.client img{
    width: 150;
    height: 105px;
    padding: 15px;
    animation: scroll 25s linear 0s infinite;
}

.client h2{
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 15px 0px;
    color: #0f2440;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-1000px) ;
    }
}

.count{
    width: 100%;
    height: 415px;
    background: linear-gradient(rgba(15, 36, 64, 0.84)),url(img/euro3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;
}

.count h2{
    font-size: 34px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    position: relative;
    top: 120px;
}

.don{
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
}

.don div{
    width: 292px;
    height: 113.5;
    text-align: center;
}

.count b{
    font-size: 50px;
    font-weight:700;   
}

.count p{
    font-size: 20px;
    text-align: center;
}

.tour{
    background-color: #223a5a;
    padding: 30px 0px;
}

.tour >h2{
    color: white;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}

.toli{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 175px 0px;
    box-sizing: border-box;
    transition: all 0s linear;
}

.toli div{
    flex-basis: 25%;
}

.toli a{
    text-decoration: none;
    color: #337ab7;
    font-size: 30px;
    font-weight: 700;
}

.toli p{
    color: white;
    font-size: 14px;
    font-weight: 300px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.toli h2{
    margin: 20px 0px 10px;
}

.toli i:hover{
    color: white;
    cursor: pointer;
}

.toli h2 a:hover{
    color: white;
}


.tour i{
   font-size:30px ;
    color: #337ab7;
}

footer{
    background-color:#0f2440 ;
    padding: 30px 0px 40px;
}

footer > p{
    color: white;
    font-size: 16px;
    text-align: center;
}

.imla{
    display: flex;
    color: white;
    padding-bottom: 100px;
    justify-content: space-evenly;
}

.imla .box1{
    width: 389px;
    height: 224px;
    padding-right: 20x;
}

.imla h2{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0px 10px;
    padding-bottom:20px ;
    font-weight: 600;
}
span{
    color: rgb(50, 50, 226);
    transition: all 0s linear;
}

span:hover{
    color: white;
    cursor: pointer;
}

.imla .box3{
    text-align: center;
}

.imla a{
    text-decoration: none;
    color:#0f2440;
    font-size: 24px;
    background-color: white;
    display: inline-block;
    line-height: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;
    transition: all 0.2s linear;

}

.imla a:hover{
    background: #20bdd8;
    color: white;
}

.imla p{
    font-size: 14px;
    font-weight: 300px;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

/* .box1 h2::after{
    content: "";
    width: 20px;
    height: 2px;
    color: white;
} */