*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(6, 43, 147);
}

.div1{
    box-shadow: 0px 0px 20px 4px black;
    width: 450px;
    height: 650px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    margin: 30px auto 0px;
    background: linear-gradient(rgb(7, 37, 122));
}

.div1 label{
    font-size: 50px;
    text-align: center;
    position: relative;
    font-weight: 700;
    top: 95px;
    color: white;
}

li{
    margin: 30px 0px;
}

.div1 ul{
    position: relative;
    list-style-type: none;
    top: 150px;
}

.div1 input{
    padding: 18px;
    width: 250px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color:burlywood;
    border-radius: 7px;
}

.div1 input:focus{
    background-color:rgb(85, 79, 71);
    color: white;
}

.div1 button{
    padding: 18px;
    width: 250px;
    font-size: 18px;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: rgba(223, 70, 246, 0.611);
}

.div1 >button:hover{
    cursor: pointer;
    color: rgb(230, 200, 200);
    background-color: rgba(206, 123, 219, 0.611);
}

/* ::placeholder{
    font-size: 16px;
} */
.div2{
    box-shadow: 0px 0px 20px 4px black;
    width: 450px;
    height: 500px;
    border-radius: 55px 55px 10px 10px;
    /* text-align: center; */
    margin: 30px auto 0px;
    background: white;
    transition: all 1.1s linear ;
}

label{
    cursor: pointer;
}


.div2 input{
    padding: 18px;
    width: 250px;
    font-size: 16px;
    border: none;
    /* outline: none; */
    background-color:rgb(205, 205, 169);
    border-radius: 7px;
}

.div2  button{
    padding: 18px;
    width: 250px;
    font-size: 18px;
    color: white;
    background-color: rgb(160, 9, 225);
    font-weight: 800;
    border: none;
    outline: none;
    border-radius: 7px;
}

.div2 ul{
    position: relative;
    list-style-type: none;
    top: 80px;
}

.div2 label{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    position: relative;
    top: 10px;
    color: rgb(7, 37, 122);
    transition: all 1.3s linear;
}


#in{
    display: none;
}

.div1 #in:checked ~ .div2{
    transform: translateY(-400px);
}

.div1 #in:checked ~ .div2 label{
    font-size: 40px;
}

.div2 button:hover{
    cursor: pointer;
    color: rgb(40, 35, 35);
    background-color: rgba(149, 13, 170, 0.611);
}